.container{
    margin-top: 100px;
}
.header-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header-container .nav-link{
    font-size: 12px;
}
.navbar-custom {
    background-color: #d0021b;
}
.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: normal;
}
.nav-item{
    margin-right: 20px;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #ffcccb;
}
.navbar-brand img {
    height: 30px;
}
.search-bar {
    width:400px !important;
    margin-right: 10px;
}
.icon-link {
    color: white;
    font-weight: normal;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
}
.icon-link:hover {
    color: #ffcccb;
    text-decoration: none;
}
.category, .position{
    background-color: #f3f4f63b;
    margin-left: 20px;
    border-radius: .25rem;
    padding: 5px;
}
.btn-login{
    background-color: #f3f4f649;
}
.footer-container{
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 0;
}
.footer-container h5{
    font-size: 14px;
}
.footer {
    background-color: #111;
    padding: 40px 0;
    padding-bottom:0 ;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    text-decoration: none;
}
.footer .map {
    margin-bottom: 20px;
}
.footer .map img {
    width: 100%;
}
.footer .contact-info {
    margin-bottom: 20px;
}
.footer .contact-info img {
    width: 100%;
}
.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
}
.social-icons img{
    width: 26px;
}
.partners{
    margin-left: 130px;
}
.footer .social-icons a:hover {
    color: #ddd;
}
.footer .partners img {
    width: 100px;
    margin: 10px;   
}
.footer .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
.footer .contact-agent {
    position: fixed;
    bottom: 20px;
    right: 70px;
}
.footer .contact-agent img {
    width: 100px;
}
.footer_map{
    width: 90%;
    transform: translate(117px, -9px);
}
.map{
    color: #8d8c8c;
    font-size: 12px;
}
a {
            text-decoration: none;
        }
.list-unstyled a{
    text-decoration: none;
    color: #8d8c8c;
    font-size: 12px;
}
.product-image-slide {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}
.fa-star{
    color: #f59e0b;
    font-size: 12px;
}
.product-details {
    margin-top: 20px;
}
.price-section {
    padding: 20px;
    padding-top: 0;
    border-radius: 5px;
}
.select-GB{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
}
.select-GB h5{
    color: black;
    font-size: 14px;
}
.select-GB:hover{
    text-decoration: none;
}
.select-GB.active{
    border: 1px solid red;
}
.list-variants {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
.item-variant{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
.item-variant.active{
    border: 1px solid red;
}
.item-variant strong, .item-variant span{
    font-size: 12px;
}
.item-variant a{
    text-decoration: none;
    color: black;
}
.total-price{
    width: 100%;
    background-color: rgb(244, 244, 244);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}
.price{
    color: red;
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 0;
}
.btn-danger{
    background: linear-gradient(#f52f32,#e11b1e);
    font-weight: bold;
    margin-right: 5px;
    border-radius: 8px !important;
}
.btn-light{
    border: 1px solid red;
    color: red;
    background-color: #fff;
    margin-left: 5px;
    border-radius: 8px !important;
}
.btn-light:hover{
    border: 1px solid red;
    color: red;
    background-color: #fff;
}
.product-info{
    border: 1px solid rgb(231, 230, 230);
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
}
.slider-container{
    background:linear-gradient(rgb(248, 62, 96), rgb(254, 80, 72)) 0% 0% / cover;
    padding: 10px;
    border-radius: 8px;
}
.product-slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.product-list {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.product-card-slide {
    flex: 0 0 250px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    position: relative;
}
.product-card-slide img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.product-card-slide .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.product-card-slide .installment {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: blue;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.product-card-slide .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.product-card-slide .old-price {
    text-decoration: line-through;
    color: #888;
}
.product-card-slide .rating {
    color: #ffcc00;
    margin-bottom: 10px;
}
.product-card-slide .favorite {
    color: red;
}
.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.slider-nav button {
    pointer-events: all;
    background-color: rgba(188, 188, 188, 0.744);
    color: white;
    border: none;
    padding: 20px 15px;
    cursor: pointer;
}
#prevBtn{
    border-radius: 0 100px 100px 0;
}
#nextBtn{
    border-radius: 100px 0 0 100px;
}

.info-special, .tech-info{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1),0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 10px;
    padding: 15px;
}
.content-special{
    background-color: #f2f2f2;
    border-radius: .5rem;
}
.content-special li{
    font-size: 14px;
}
.tech-content{
    border: 1px solid rgb(230, 230, 230);
    border-radius: .5rem;
}

.feedback-container{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1),0 2px 6px 2px rgba(60,64,67,.15);
    padding: 1rem;
    border-radius: 10px;
}

.feedback{
    display: grid;
    justify-items: center;
    padding: 20px 0; 
    border-bottom: 1px solid rgb(230, 230, 230);
}
.feedback .btn-danger{
    width: 20%;
    height: 50px;
    margin-top: 20px;
}
.modal-dialog{
    max-width: 50% !important;
    border-radius: 8px;
}
.form-range{
    width: 100%;
}
.textarea{
    min-height: 8em !important;
    max-height: 40vh;
    border-radius: 8px;
}
.btn-add{
    border: 1px dashed rgb(230, 230, 230);
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}
.modal-content{
    border-radius: 8px;
}
.modal-header{
    background-color: #e8e8e8;
    height: 80px;
}
.modal-footer{
    box-shadow: 0 -4px 20px -1px rgba(40,124,234,.149);
    background-color: #fff;
}
.modal-footer .btn-danger{
    width: 100%;
}

.box-review-item{
    border-bottom: 1px solid rgb(230, 230, 230);
}



.shopping-bag svg {
    z-index: 2;
    position: relative;
    color: #fff;
  }
  
  .shopping-bag__target {
    position: absolute;
    bottom: -5px;
    right: -8px;
    backface-visibility: hidden;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  
  .shopping-bag__target > * {
    position: relative;
  }
  
  .shopping-bag__counter {
    aspect-ratio: 1;
    background-color: #ffffff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    bottom: 25px;
    right: 137px;
    z-index: 99;
  }
  
  .shopping-bag__counter span {
    width: 3ch;
    color: #000000;
  }
  svg {
    display: block;
    width: 30px;
    height: auto;
  }
  .product__dot {
    width: 100%;
    aspect-ratio: 1;
    background-image: url("https://www.vnext.vn/img/logo-vnext-footer.svg");
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
  }

  @supports (view-transition-name: none) {
    ::view-transition-group(cart-dot) {
      animation-duration: 0.6s;
      animation-timing-function: ease-in;
    }
    ::view-transition-old(cart-dot) {
        animation: moveLeft 0.6s ease-in both;
    }

    ::view-transition-new(cart-dot) {
        animation: moveLeft 0.6s ease-in both;
    }
  
    ::view-transition-old(cart-counter) {
      animation: toDown 0.15s cubic-bezier(0.4, 0, 1, 1) both;
    }
  
    ::view-transition-new(cart-counter) {
      animation: fromUp 0.15s cubic-bezier(0, 0, 0.2, 1) 0.15s both;
    }
  }
  
  @keyframes toDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(4px);
      opacity: 0;
    }
  }
  
  @keyframes fromUp {
    from {
      transform: translateY(-3px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes moveLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-160px); /* Điều chỉnh giá trị để di chuyển sang trái nhiều hay ít */
    }
  }
  
  @media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }
  }

.brand-icons img {
    max-width: 100px;
    margin: 10px;
}
.brand-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand-icons .nav-link{
    border: 1px solid rgb(222, 222, 222);
    border-radius: .25rem;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 0;
}
.category-selection {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;*/
    margin-top: 30px;
}
.category-selection .category-item {
    width: 100px;
    margin: 10px;
    text-align: center;
}
.category-selection .category-item img {
    width: 100%;
    border-radius: 8px;
}
.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.product-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.product-card .badge {
    font-size: 12px;
}
.product-card .price {
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.product-card .old-price {
    text-decoration: line-through;
    color: #707070;
}
.product-card .features {
    font-size: 14px;
}
.product-card i{
    color: #f59e0b;
}
.note{
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px;
}
.smem-price{
    display: flex;
    font-size: 11px;
}
.smem-price span{
    color: #d70018;
    font-size: 14px;
    font-weight: 700;
}
.btn-group{
    display: inline;
}
.product-details .btn-group{
    display: flex;
}
.btn-outline-secondary{
    border-radius: .25rem !important;
    margin-top: 10px;
    
}
main .nav-link{
    text-decoration: none;
    color:inherit;
    border: 1px solid;
    border-radius: .25rem;
    margin-top: 10px;
    background-color: #f3f4f6;
}












.swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    box-sizing: initial;
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1;
  }
  
  .swiper-slide {
    max-width: 33.3333333333%;
    text-align: center;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  
  .swiper-slide>img {
    width: 100%;
    border-radius: 50px;
    display: block;
    margin: auto;
    min-height: 30px;
  }
  
  /* menu */
  .menu-page {
    background-color: #d70018;
  }
  
  .menu-container {
    overflow: hidden;
    padding: 8px;
  }
  
  .menu-items {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: 40px;
  }
  
  .input-group {
    width: 100%;
  }
  
  h6 {
    margin-bottom: 0;
  }
  
  .menu-select {
    color: #fff;
  }
  
  .menu-option>h6 {
    text-align: center;
  }
  
  .menu-option {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    float: left;
  }
  
  .menu-right {
    float: right;
  }
  
  .menu-option:hover {
    background: hsla(0, 0%, 100%, .2);
  }
  
  .main-content-index {
    margin-top: 120px;
    margin-bottom: 100px;
  }
  
  /* category */
  .block-top-home {
    margin-top: 10px;
  }
  
  .category-product {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    height: 100%;
    padding: 10px 0;
    position: relative;
  }
  
  .category-product ul {
    list-style: none;
    padding-left: 10px !important;
  }
  
  ul {
    list-style: none;
  }
  
  .category-item a i {
    font-size: 24px;
    width: 30px;
    text-align: center;
    color: #343a40;
  }
  
  .category-item {
    margin-bottom: 10px;
  }
  
  .category-item .dropdown-menu {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 200px;
    width: 800px;
    min-height: 300px;
    padding: 10px;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    z-index: 1000;
  }
  
  .category-item:hover .dropdown-menu {
    display: block;
  }
  
  .ic-angle-right {
    font-size: 16px !important;
    float: right;
    color: #777 !important;
    margin-top: 6px;
  
  }
  
  .banner-top-home img {
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
  }
  
  .banner-top-home-center {
    margin: 11px 0;
  }
  
  .hot-sale-product {
    /* height: 100%; */
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 10px;
  }
  
  .carousel-item img {
    height: 100%;
  }
  
  /* product */
  .hot-phone {
    width: 100%;
    margin-top: 20px;
  }
  
  .category-tag {
    display: flex;
    justify-content: end;
  }
  
  .category-tag a {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    margin: 0 6px;
    padding: 8px 10px;
    color: #444;
    background-color: #f3f4f6;
  }
  
  .list-product {
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
  }
  
  .product-item-container {
    display: block;
    width: 250px;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 12px;
    position: relative;
    margin: 0 20px 0 10px;
  
  }
  
  .product-image img {
    margin-top: 10px;
    width: 160px;
  }
  
  .product-image {
    display: flex;
    justify-content: center;
  }
  
  .product-name {
    margin-top: 8px;
    margin-bottom: 18px;
    font-weight: 600;
    white-space: normal;
  }
  
  .product__price--show {
    font-weight: 700;
    color: #d70018;
    font-size: 20px;
    margin-right: 6px;
  }
  
  .product__price--through {
    text-decoration: line-through;
    color: #707070;
  }
  
  .product-smem-price {
    font-size: 10px;
  }
  
  .product-smem-price span {
    font-weight: 700;
    color: #d70018;
    font-size: 14px;
  }
  
  .product-promotions {
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 6px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    white-space: normal;
  }
  
  .product-box-rating i {
    color: rgb(255, 204, 0);
  }
  
  .btn-wish-list i {
    color: #d70018;
  }
  
  .btn-wish-list {
    float: right;
  }
  
  .install-0-tag {
    background: #fff;
    border: 1px solid #0c53b7;
    border-radius: 5px;
    color: #0c53b7;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .product__price--percent {
    background-image: url("./assets/image/download.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 31px;
    left: -4px;
    position: absolute;
    top: -1px;
    width: 80px;
  }
  
  .product__price--percent p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-left: 8px;
    padding-top: 2px;
  }
  
  /* banner */
  .banner-1 {
    margin-top: 10px;
  }
  
  .banner-1 img {
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 12px;
  }




  .main-content {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 246px);
    
}
  .login-container {
    width: 600px;
    background-color: #fff;
    padding: 20px 20px 30px 20px;
}
.login-container h4 {
    text-align: center;
    margin: 20px 0;
}
.email-login, .password-login, .login-btn {
    margin-top: 14px;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #d9dbde;
}
.login-btn {
    color: #fff;
    background-color: #d70018;
    font-weight: 500;
}
.forgot-password {
    
    text-align: end;
    margin-top: 10px;
}
.forgot-password a {
    font-size: 14px;
    color: #777;
    text-decoration: none;
}
.login-block-end {
    margin-top: 16px;
    text-align: center;
}
.login-block-end p {
    color: #777;
}
.login-block-end p > a {
    color: #d70018;
    text-decoration: none;
    font-weight: 500;
}
.login-block-end > a {
    color: #d70018;
    font-weight: 500;
}
.login-block-end > a:hover {
    font-style: italic;
}

.back-page-block {
    text-align: center;
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
}

.back-page-block p {
    font-weight: 700;
    font-size: 20px;
}

.back-btn {
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

.table-list-prd-container {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.sct-all {
    font-weight: 400;
}

.cart-page-container {
    margin-top: 16px;
}

.delete-all-prd {
    font-size: 14px !important;
    color: #9f9d9d !important;
    font-weight: 400;
    font-style: italic;
    text-align: end;
}

.check-box-item {
    float: left;
}

.image-prd {
    width: 100px;
    margin: 0 10px;
    float: left;
}

.image-prd img {
    width: 100%;
}

.delete-item-block {
    height: 100%;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content-cart {
    margin-top: 120px;
    min-height: calc(100vh - 226px);
}
.table-list-prd {
    border-radius: 10px;
}

.quantity-block {
    margin-top: 30px;
}

.value-quantity,
.change-quantity-btn {
    width: 30px;
    height: 30px;
    border: 0;
}

.value-quantity {
    text-align: center;
}

.product-price-show {
    font-weight: 500;
    color: #d70018;
    font-size: 17px;
}

.prd-price {
    margin-top: 30px;
}

.product-price-through {
    font-size: 15px;
    color: #707070;
    text-decoration: line-through;
}

.payment-detail-container {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    padding: 12px;
}

.payment-detail-container h4 {
    margin: 20px 0 30px 0;
    text-align: center;
}

.total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    font-size: 20px;
    font-weight: 600;
}

.total,
.subtotal {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.payment-btn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.pay-btn {
    width: 80%;
    padding: 8px 10px;
    border: 0;
    border-radius: 14px;
    background-color: #d70018;
    color: #fff;
    font-weight: 500;
}